version: '3'

services:
  qr-app:
    build: 
      context: .
      args:
        # CRITICAL FIX: Update this value (e.g., to 20251129-V6) every time you want to rebuild
        CACHE_DATE: 20251129-V5 
    container_name: nextjs-qr-generator
    restart: always
    ports:
      - "3010:3000"
    environment:
      - NODE_ENV=production
    networks:
      - net

networks:
  net:
    external: true
    name: net
