version: '3'

services:
  qr-app:
    build: 
      context: .
      args:
        # **UPDATED:** Changed to V12.
        CACHE_DATE: 20251201-V13
        NPM_CONFIG_PRODUCTION: "false"
        NODE_ENV: development
        CI: "false" 
        NEXT_TELEMETRY_DISABLED: "1"
    container_name: nextjs-qr-generator
    restart: always
    ports:
      - "3010:3000"
    environment:
      - NODE_ENV=production
    networks:
      - net

networks:
  net:
    external: true
    name: net