version: '3'

services:
  qr-app:
    build: .
    container_name: nextjs-qr-generator
    restart: always
    # Maps internal port 3000 to external OCI host port 3010
    ports:
      - "3010:3000"
    environment:
      - NODE_ENV=production