version: '3'

services:
  qr-app:
    build: 
      context: .
      args:
        # **UPDATED:** Changed to V7 to force a full image rebuild, bypassing cache.
        CACHE_DATE: 20251201-V7 
    container_name: nextjs-qr-generator
    restart: always
    ports:
      - "3010:3000"
    environment:
      - NODE_ENV=production
    networks:
      - net

networks:
  net:
    external: true
    name: net